<p>
  <strong>Inquiry:</strong>
  <%= @j_product_inquiry.inquiry_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @j_product_inquiry.product_id %>
</p>

<%= link_to 'Edit', edit_j_product_inquiry_path(@j_product_inquiry) %> |
<%= link_to 'Back', j_product_inquiries_path %>
