<% if @nutval.errors.any? %>
	$(".nutval-errors").empty();
	$('.nutval-errors').append('<div class="alert alert-error"><ul class="error-messages"></ul></div>');
	<% @nutval.errors.full_messages.each do |msg| %>
		$('.error-messages').append('<%= escape_javascript msg %>');
	<% end %>
<% else %>
	$(".product_nutval_id a.btn").text("<%= t(:form_edit) %>")
	$("button.close").click();
	$(".nutval-errors").empty();
<% end %>
