<h1><%= t("form.edit", model: t("subcategories_title.one")) %></h1>

<%= render 'form' %>

<hr>

<p>
	<%= link_to t(:link_show, model: t("subcategories_title.one")), @subcategory %> |
	<%= link_to t(:link_back, model: t("subcategories_title.other")), subcategories_path %>
</p>
