<h1><%= t("form.edit", model: t("users_title.one")) %></h1>

<%= render 'form' %>

<hr>
<p>
<%= link_to t(:link_show, model: t("users_title.one")), @user %> |
<%= link_to t(:link_back, model: t("users_title.other")), users_path %>
</p>
