<h1><%= t("form.new", genus: t("form.f"), model: t("ingredients_title.one")) %></h1>

<%= render 'form' %>

<hr>
<p><%= link_to t(:link_back, model: t("ingredients_title.other")), ingredients_path %></p>
