<% provide(:title, t(:tos_title)) %>

<h1><%= t(:tos_title) %></h1>

Da alle Daten zur freien Nutzung zu Verfügung gestellt werden, stimmst du hiermit zu, alle Daten, die du einträgst (Produkte, Kommentare, Produktanfragen, Bilder, etc.) zur freien Verfügung zu stellen.
Die Lizenz hierfür ist <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de">CC0</a>.
Ausgeschlossen von diesen Daten sind deine persönlichen Daten wie Name und E-Mailadresse.

<!--

https://en.wikipedia.org/wiki/Terms_of_service

<h3>Disambiguation/definition of key words and phrases</h3>

<h3>User rights and responsibilities</h3>

<h4>Proper or expected usage; potential misuse</h4>

Accountability for online actions, behavior, and conduct
Privacy policy outlining the use of personal data
Payment details such as membership or subscription fees, etc.
Opt-out policy describing procedure for account termination, if available
<h4>Privacy Policy</h4>

https://de.wikipedia.org/wiki/Privacy_policy

<h4>Opt-Out</h3>

<h3>Disclaimer/Limitation of Liability clarifying the site's legal liability for damages incurred by users</h3>
<h3>User notification upon modification of terms, if offered</h3>


<h4>Copyright der Daten</h4>
-->