<h1><%= t("form.new", genus: t("form.n"), model: t("packagematerials_title.one")) %></h1>

<%= render 'form' %>

<hr>

<p>
	<%= link_to t(:link_back, model: t("packagematerials_title.other")), packagematerials_path %>
</p>
