<h1><%= t("form.new", genus: t("form.m1"), model: t("classnames_title.one")) %></h1>

<%= render 'form' %>

<hr>

<p>
	<%= link_to t(:link_back, model: t("classnames_title.other")), classnames_path %>
</p>
