<h1><%%= t("form.new", genus: t("form.f"), model: t("<%= plural_table_name %>_title.one")) %></h1>

<%%= render 'form' %>

<hr>

<p>
	<%%= link_to t(:link_back, model: t("<%= plural_table_name %>_title.other")), <%= index_helper %>_path %>
</p>
