<h1><%= t("form.edit", model: t(:cities_title, count: 1)) %></h1>

<%= render 'form' %>

<hr>
<%= link_to t(:link_show, model: t(:cities_title, count: 1)), @city %> |
<%= link_to t(:link_back, model: t(:cities_title, count: 2)), cities_path %>
