<h1><%= t("form.new", genus: t("form.n"), model: t(:products_title, count: 1)) %></h1>

<%= render 'form' %>

<hr>
<p><%= link_to t(:link_back, model: t(:products_title, count: 2)), products_path %></p>
