<h1><%= t("form.edit", model: t(:manufacturers_title, count: 1)) %></h1>

<%= render 'form' %>

<hr>
<p><%= link_to t(:link_show, model: t(:manufacturers_title, count: 1)), @manufacturer %> |
<%= link_to t(:link_back, model: t(:manufacturers_title, count: 2)), manufacturers_path %></p>
