<h1><%= t("form.new", genus: t("form.c1"), model: t(:manufacturers_title, count: 1)) %></h1>

<%= render 'form' %>

<hr>
<p>
<%= link_to t(:link_back, model: t(:manufacturers_title, count: 2)), manufacturers_path %>
</p>
